<section class="midja" id="verkefni">
    <h5>Námsefni VEFÞ2VF</h5>
    <ul class="asidemenu">
        <li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-1/' | prepend: site.baseurl }}" title="HTTP samskipti">1. HTTP - Python - Flask</a>
        </li>
        <li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-2/' | prepend: site.baseurl }}" title="Python - Flask">2. Dynamic routing</a>
        </li>
        <li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-3/' | prepend: site.baseurl }}" title="Python - Flask">3. Json Api</a>
        </li>
        <li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-4/' | prepend: site.baseurl }}" title="Jinja Grunnsíður">4. Formvinnsla</a>
        </li>
        <li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-5/' | prepend: site.baseurl }}" title="Formvinnsla">5. Gagnavinnsla</a>
        </li>
        <li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-6/' | prepend: site.baseurl }}" title="Miðannarverkefni">6. Lokaverkefni</a>
        </li>
        <!--li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-7/' | prepend: site.baseurl }}" title="Gagnavinnsla">7. </a>
        </li>
        <li>
            <span class="icon-circle-right"></span> <a href="{{ '/Verkefni-8/' | prepend: site.baseurl }}" title="Lokaverkefni">8. </a>
        </li-->
        <!--li>
            <span class="icon-circle-right"></span>  <a href="{{ '/bjargir.html' | prepend: site.baseurl }}" title="Tenglar á gagnlegar slóðir">Bjargir</a>
        </li-->
    </ul>
      
    <!--p>
        <a href="https://github.com/VEF1VGA-20H" title="Áfangageymsla">
            <img src="/assets/images/21vVEF2VFC.jpg" title="VEFÞ1VGA haust 2020"> 
        </a>
    </p>
    <ul class="asidemenu">
        <li>
            <span class="icon-circle-right"></span>  <a href="{{ '/verkefnaskil/nyskraning.html' | prepend: site.baseurl }}" title="'Nýskráning">Nýskráning á Github</a>
        </li-->
        <!--li>
            <span class="icon-circle-right"></span>  <a href="{{ '/verkefnaskil/index.html' | prepend: site.baseurl }}" title="'Áfangageymsla">Áfangageymsla</a>
        </li>
        <li>
            <span class="icon-circle-right"></span>  <a href="{{ '/verkefnaskil/inna.html' | prepend: site.baseurl }}" title="'Inna">Inna</a>
        </li>
        <li>
            <span class="icon-circle-right"></span><a href="{{ '/verkefnaskil/git_innsetning.html' | prepend: site.baseurl }}" title="Git verklag">Git innsetning</a>
        </li>
        <li>
            <span class="icon-circle-right"></span><a href="{{ '/verkefnaskil/git_verklag.html' | prepend: site.baseurl }}" title="Git verklag">Git verklag</a>
        </li>
        <li>
            <span class="icon-circle-right"></span><a href="{{ 'https://vefhonnun.github.io/verkstjorn/index.html' }}" title="Git útgáfustjórnun">Git útgáfustjórnun</a>
        </li>
    </ul-->  
</section>
