.buttInput {
  display: none;  /*input er aldrei sýnilegt*/
}
.buttLabel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px outset #999;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: darken($baseColor, 45%);
  transition: all .4s ease;
  z-index: 999;
}
.buttInput:checked + .buttLabel {
  box-shadow: inset 0 .2em .2em rgba(0, 0, 0, 0.25);
  border: 1px inset #999;
  color: #fff;
}
//.buttInput:checked ~ .topmenu {
.buttInput:checked {
  position: fixed;
  bottom:2.4em;
  left: 0;
  z-index: 990;
  transition: all .5s ease;
}
/***********Social butts******************/
.sMedia {
  display: flex;  
  flex-flow: column;
  position: relative;
  width: 2.5em;
  z-index: 999;
}
.sMedia div {
  height: 2.5em;
  width: 2.5em;
  margin: 0;
  padding: .5em 0 0;
}
.sMedia a {
  display: block;
  margin: 0 .5em;
  padding:0;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: .9em;
}
.gjg,
.facebook,
.github,
.soundcloud {
  position: relative;
  transition: all 1s ease;
}
.gjg {
  background: rgb(22, 145, 190);
}
.facebook {
  background: rgb(22, 107, 162);
}
.github {
  background: rgb(233, 147, 26);
}
.soundcloud {
  background: rgb(244, 81, 54);
} 

/**************** hover effects ******************/
.gjg:hover,
.facebook:hover,
.github:hover,
.soundcloud:hover {
  transition: all 1s ease;
  width: 4em;
}
.gjg:hover {
  background: rgb(151, 218, 242);
}
.facebook:hover { 
  background: rgb(91, 210, 0);
}
.github:hover {
  background: rgb(255, 75, 22);
}
.soundcloud:hover {
    background: rgb(253, 30, 0);
}
@media screen and (min-width: 48em) {
  /* label - menu tekið út */
  .buttLabel {
    display: none;
  }
}